<main>
  {{#if error}}
  <div class="alert alert-danger alert-dismissible fade show m-2" role="alert">
    {{error}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {{/if}}
  <div class="card text-center mt-4" style="width: 22rem;"></div>
  <div class="d-flex justify-content-center align-items-center flex-wrap">
    {{#each posts}}
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text"><small id="user" class="text-muted">~ {{ user }}</small></p>
        <p class="card-text"><small id="user" class="text-muted">{{ createdAt }}</small></p>
      </div>
      {{#if userImage}}
        <img src={{userImage}} class="card-img-bottom" alt="..." />
      {{else}}
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100px; width: 100%;"
        ><path
            d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #f002;"
          ></path></svg>
      {{/if}}
    </div>
  {{/each}}
  </div>
</main>

<script src="/js/home.js"></script>